body{
    width: 100%;
    height: 100%;
    margin: 0;
    background: #111111;
    text-align: center;
}

p.base{
    font-weight: bold;
    color: #e27db3;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 8px;
}

p.esp{
    font-size: 250%;
    margin-top: 36px;
    margin-bottom: 36px;
    letter-spacing: -6px;
    color: #f6dd7a;
    font-weight: bold;
    text-shadow: 0 0 5px pink;
}

p.slant{
    line-height: 16px; 
    display:block;
    font-family: "Lucida Console", Monaco, monospace;
    letter-spacing: -0.2px;
    color: #e27db3;
    text-shadow: 0 0 5px #FFFFFF;
    }

p.stick{
    white-space: pre;
    line-height: 6px; 
    display:block;
    font-family: "Lucida Console", Monaco, monospace;
    letter-spacing: -3px;
    color: #f6dd7a;
    }

p.stickWhite{
    line-height: 13px; 
    display:block;
    font-family: "Lucida Console", Monaco, monospace;
    letter-spacing: -3px;
    color: #f9f9f9;
    }