body{
    width: 100%;
    height: 100%;
    margin: 0;
    background: pink;
    text-align: center;
}
p{
    margin-top:2cm;
    margin-bottom:2cm;
    font-weight: bold;
    color: rgb(18, 136, 175);

}