body{
    width: 100%;
    height: 100%;
    margin: 0;
    background: #111111;
    text-align: center;
}

p.base{
    font-size: 100%;
    font-weight: bold;
    color: #e27db3;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 8px;
}

p.decorMargin{
    font-size: 60%;
    font-weight: bold;
    color: #e27db3;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 6px;
}

p.esp{
    font-size: 250%;
    margin-top: 36px;
    margin-bottom: 36px;
    letter-spacing: -6px;
    color: #f6dd7a;
    font-weight: bold;
    text-shadow: 0 0 5px pink;
}

p.slantRelief{
    line-height: 16px; 
    display:block;
    font-family: "Lucida Console", Monaco, monospace;
    letter-spacing: -0.2px;
    color: #e27db3;
    text-shadow: 0 0 5px #FFFFFF;
    }

p.stickLetters{
    white-space: pre;
    line-height: 6.2px; 
    display:block;
    font-family: "Lucida Console", Monaco, monospace;
    letter-spacing: -3px;
    color: #f6dd7a;
    }

p.buttonsText{
    color: #f6dd7a;
    font-size: 120%;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 10px;
    font-family: "Lucida Console", Monaco, monospace;
}

a:link {
  color: #f6dd7a;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #857431;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #f6dd7a;
  background-color: transparent;
  text-decoration: underline;
}
</style>